@model ProductListViewModel
@{
    Layout = "_AdminLayout";
}
@if (Model.Products == null || Model.Products.Count == 0)
{
    <span class="alert alert-info">No Product Exsist !</span>
}
else
{
    <p>Filtering by product name </p>
    <div style="display:flex;flex-direction:column;">
        <a href="/admin/index?category=@Model.CurrentCategory&filterName=a-z&page=@Model.CurrentPage&filterPrice=@Model.FilterByPrice" style="cursor:pointer;">
            a-z
        </a>
        <a href="/admin/index?category=@Model.CurrentCategory&page=@Model.CurrentPage&filterName=z-a&filterPrice=@Model.FilterByPrice" style="cursor:pointer;">
            z-a
        </a>
    </div>
    <p>Filtering by product price </p>
    <div style="display:flex;flex-direction:column;">
        <a href="/admin/index?category=@Model.CurrentCategory&page=@Model.CurrentPage&filterName=@Model.FilterByName&filterPrice=lower" style="cursor:pointer;">
            Lower
        </a>
        <a href="/admin/index?category=@Model.CurrentCategory&page=@Model.CurrentPage&filterName=@Model.FilterByName&filterPrice=higher" style="cursor:pointer;">
            Higher
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Units in stock</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @item.ProductName
                    </td>
                    <td>
                        @item.UnitPrice
                    </td>
                    <td>
                        @item.UnitsInStock
                    </td>
                    <td>
                        <a class="btn btn btn-outline-warning" href="/Admin/RemoveProduct?productId=@item.ProductId&page=@Model.CurrentPage&category=@Model.CurrentCategory">Remove Product</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <product-list-pager  current-category="@Model.CurrentCategory" is-admin=@true current-page="@Model.CurrentPage" page-count="@Model.PageCount" page-size="@Model.PageSize"></product-list-pager>
    <a asp-controller="Admin" asp-action="AddProduct">Add New Product</a>
}